@charset "UTF-8";

body {
    overflow: hidden;
}

svg {
    
}

.logo {
    width: 400px;
    left: 50px;
    top: 50px;
}

header div.slide img {
    position: absolute;
    right: 0;
    z-index: -999;
    height: 635px;
}

.tela {
    position: absolute;
    top: 50px;
    left: 30px;
    text-align: center;
}

h1 {
    color: white;
    margin: 20px;
    width: 300px;
}


main button {
    position: absolute;
    bottom: 60px;
    left: 50px;
    background-color: #F9BC4A;


    cursor: pointer;
    border-radius: 5px;
}

main button a {
    text-decoration: none;
    color: white;
    font-size: 40px;
    padding: 60px;

}

main button:hover {

}