@charset "UTF-8";

body {
    background-color: #7F7EA1;
}


/* main */

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

main h1 {
    color: white;
    margin-bottom: 20px;
    width: 550px;
    text-align: center;
}


/* perguntas */

main div.pergunta img {
    width: 550px;
}

/* Alternativas */

div.opcoes div.alternativa {
    background-color: white;
    width: 500px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
    line-height: 50px;
    border-radius: 50px;
    box-sizing: border-box;
    border: 2px solid white;
    transition: all .3s;
    margin-top: 50px;
}

div.opcoes div.alternativa:first-child {
    margin-top: 0px;
}

div.opcoes div.alternativa:hover {
    background-color: transparent;
    color: white;
}


/* Resposta Correta e Resposta Errada*/

.respostaCorreta {
    background-color: rgb(4, 185, 4);
    color: white;
    animation: respostaCorreta .4s infinite alternate;
}


.respostaErrada {
    background-color: rgb(201, 0, 0);
    color: white;
    animation: respostaErrada .4s infinite alternate;
}


@keyframes respostaCorreta {
    from {
        background-color: rgb(4, 185, 4);
    }

    to {
        background-color: rgb(2, 216, 2);
    }
}

@keyframes respostaErrada {
    from {
        background-color: rgb(201, 0, 0);
    }

    to {
        background-color: rgb(235, 5, 5);
    }
}